// Sidebar

.ain-sidebar {
    width: $ain-sidebar-expanded-width;
    height: 100%;

    left: 0;
    top: 0;

    background-color: $ain-sidebar-background-color;
    color: $ain-sidebar-color;

    padding: 0;
    position: fixed;

    overflow: hidden;

    transition: width $ain-sidebar-transition-width-duration;

    z-index: 100000;

    .ain-sidebar-container {
        height: 100%;
    }

    &.ain-sidebar-collapsed {
        width: $ain-sidebar-collapsed-width;
    }

    .ain-navbar-link {
        width: 100%;

        color: #FFFFFF !important;
    }
}

.ain-sidebar-toggle-button {
    top: $ain-sidebar-toggle-margin;

    color: black;
    position: fixed;
    display: inline-block;

    font-size: $ain-sidebar-toggle-size;

    transition: left $ain-sidebar-transition-width-duration;
    z-index: 12000;
}

.ain-sidebar-toggle {
    @extend .ain-sidebar-toggle-button;
    left: $ain-sidebar-expanded-width + $ain-sidebar-toggle-margin;

    &:after {
      content: "\2190"; //arrow left
    }
}

.ain-sidebar-toggle-collapsed {
    @extend .ain-sidebar-toggle-button;

    &:after {
      content: "\2192";//arrow right
    }

    left: $ain-sidebar-toggle-margin;
}

.ain-wrapper {
    height: 100%;
    width: inherit;

    top: $wrapper-media-padding;
    right: 0;
    left: $ain-sidebar-expanded-width;
    position: absolute;
    transition: left $ain-sidebar-transition-width-duration;
}

.ain-wrapper-expanded {
    left: $ain-sidebar-toggle-margin !important;
}

.ain-sidebar-collapsed {
    width: 0;

    .ain-sidebar-footer,
    .ain-sidebar-item {
        display: none;
    }
}

.ain-sidebar-item {
    width: 100%;

    display: block;
    margin: 0;
    transition: margin-right $ain-sidebar-transition-width-duration;

    &.ain-sidebar-item-active {
        background-color: $ain-sidebar-item-active-background-color;
    }
}

.ain-sidebar-footer {
    width: 100%;

    bottom: 0;
    left: 0;
    position: absolute;

    padding: 1em;
    display: block;
}

// Media Queries
@media (min-width: $ain-sidebar-base-media-min) {
    .ain-wrapper {
        left: $ain-sidebar-expanded-width + $wrapper-media-padding;
        padding-right: $wrapper-media-padding;
    }

    .ain-wrapper-expanded {
        padding-left: 0;
    }
}
