// Variables

$ain-sidebar-expanded-width: 250px;
$ain-sidebar-collapsed-width: 0;

$ain-sidebar-toggle-margin: 10px;
$ain-sidebar-toggle-size: 1.5em;

$wrapper-media-padding: 20px;

$ain-sidebar-transition-width-duration: 0.2s;

$ain-sidebar-background-color: #00a9a2;
$ain-sidebar-color: #FFFFFF;

$ain-sidebar-item-active-background-color: darken($ain-sidebar-background-color, 20%);
$ain-sidebar-base-media-min: 400px;
